@import "../../../styles/scss/variables.scss";

.cartItem {
  margin-top: 20px;
  .row {
    margin: 0;
  }
  &__img {
    width: 18%;
    padding: 20px;
    border: 1px solid $mainColor;
  }
  .flexWrapColumn {
    align-items: stretch;
  }
  &__info {
    padding-left: 50px;
    height: 100%;
    &-titleAndGenres {
      .title {
        font-size: 30px;
        line-height: 1;
        color: $textColor;
      }
    }
    &-rating {
      max-width: 250px;
    }
    &-countAndCost {
      .price {
        font-size: 25px;
        svg {
          font-size: 20px;
          margin-left: 10px;
        }
      }
    }
  }
}
