@import '../../styles/scss/variables.scss';

.notFoundPage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  &__item {
    height: 570px;
    width: 700px;
    position: relative;
    font-size: 60px;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $textColor2;
      text-align: center;
      &:first-child {
        top: 20%;
        left: 35%;
        color: $textColor
      }
    }
  }
  .btnGroup_center {
    margin: 0;
  }
}