@import "../../styles/scss/variables.scss";

.defaultSlider {
  .slider {
    border: 2px solid $mainColor;
    padding: 40px;
    height: 100%;
    &__item {
      padding: 0 40px;
      &-wrapper {
        height: 400px;
        padding: 30px;
        border: 2px solid $mainColor;
        box-shadow: 4px 4px 2px $mainColor;
        img {
          height: 100%;
        }
      }
      &-moreInfo {
        padding: 8px;
        margin-top: 13px;
        background-color: $extraColor;
        width: 100%;
        color: $textColor2;
        font-size: 23px;
        box-shadow: 0 0 5px $textColor;
        div {
          svg {
            color: $starsColor;
            cursor: default;
          }
        }
        .more {
          cursor: pointer;
          transition: all 0.2s;
          &:hover {
            color: $mainColor;
          }
        }
      }
    }
    &__nextBtn,
    &__prevBtn {
      background-color: transparent;
      color: $mainColor;
    }
    &__nextBtn {
      right: 0;
    }
    &__prevBtn {
      left: 0;
    }
  }
}
