.mainSlider {
  position: relative;
  overflow: hidden;
  height: 400px;
  .nextBtn {
    position: absolute;
    top: 50%;
    right: -1%;
    background-color: red;
    color: green;
    z-index: 200;
  }
  .test {
    position: absolute;
    left: -1%;
  }
}
