@import "../../styles/scss/main.scss";

.infoBlock {
  margin-top: 20px;
  &__img {
    width: 30%;
    margin-right: 10px;
    img {
      width: 100%;
    }
  }
  &__content {
    width: 70%;
    h2 {
      font-size: 22px;
      text-transform: uppercase;
    }
    .btnGroup {
      margin-top: 10px;
      .buy {
        width: 50%;
        span {
          font-weight: 700;
          font-size: 25px;
        }
      }
    }
  }
  &:nth-child(1),
  &:nth-child(2) {
    margin-top: 0;
  }
}

@media (max-width: 1200px) {
  .infoBlock {
    &:nth-child(2) {
      margin-top: 20px;
    }
    .btnGroup {
      button{
        width: auto;
        padding: 0 10px;
      }
      .buy {
        width: auto;
      }
      justify-content: space-around;
    }
  }
}
