@import "../../styles/scss/variables.scss";

.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px 0;
  background-color: $textColor2;
  border-bottom: 1px solid $mainColor;
  font-size: 20px;
  transition: all 0.5s;
  &__item {
    color: $textColor;
    width: 12%;
    text-align: center;
    &_search {
      width: 34%;
    }
    &_account {
      width: 21%;
      svg ~ div {
        margin-left: 2px;
      }
    }
    &_logo {
      width: 6%;
      cursor: pointer;
    }
    &_mobile {
      display: none !important;
    }
  }
  a {
    color: $textColor;
    cursor: pointer;
    transition: 0.5s all;
    &:hover {
      color: $colorLink;
      text-decoration: none;
    }
  }

  &_showMobileSideBar {
    left: 200px;
  }
}

@media (max-width: 1200px) and (min-width: 576px) {
  .header {
    font-size: 16px;
    .container {
      max-width: 100vw;
    }
  }
}

@media (max-width: 575px) {
  .header {
    padding: 5px 0;
    ul {
      justify-content: space-between;
    }
    &__item {
      display: none !important;
      &_nav {
        max-width: 30%;
        .search_mobile {
          position: fixed;
          background-color: $textColor2;
          top: 40px;
          left: 0;
          right: 0;
        }
        svg {
          font-size: 22px;
          &:nth-child(2) {
            margin-left: 15px;
          }
        }
      }
      &_logo {
        height: 35px;
        width: 75px;
      }
      &_account {
        max-width: 18%;
        svg {
          font-size: 22px;
        }
      }
      &_mobile {
        display: flex !important;
      }
    }
  }
  .mobileSideBar {
    position: fixed;
    z-index: 200;
    left: -200px;
    height: 100vh;
    width: 200px;
    overflow: hidden;
    transition: all 0.5s;
    background-color: $textColor2;
    a {
      color: $textColor;
      font-size: 20px;
    }
    .fa-times {
      position: absolute;
      top: 2%;
      right: 5%;
      font-size: 25px;
    }
    &_close {
      z-index: 200;
      position: fixed;
      left: 200px;
      top: 0;
      height: 100vh;
      width: 100vw;
      display: none;
    }
    &_active {
      left: 0;
      box-shadow: 0 0 10px $textColor;
    }
  }
}
