@import "../../styles/scss/variables.scss";

.accountPage {
  padding: 0 40px;
  .formControl {
    border-color: $textColor2;
    &:focus {
      box-shadow: none;
    }
    &:hover {
      border-color: $borderColor;
    }
  }
  &__userInfo {
    .userAvatar {
      background-color: $extraColor;
      position: relative;
      height: 250px;
      width: 250px;
      .btn {
        background-color: inherit;
        &:hover,
        &:focus {
          box-shadow: none;
        }
        &:hover {
          color: $mainColor;
        }
      }
      &__btn {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        visibility: hidden;
        height: 0;
        background-color: inherit;
        transition: visibility 0.3s, height 0.4s, background-color 0.4s;
        &_active {
          visibility: visible;
          height: 70px;
          background-color: #000000b3;
        }
      }
    }
    .btn {
      margin-top: 20px;
    }
    .userEmail,
    .userLogin {
      padding-left: 5px;
      .formControl {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
    &-detail {
      margin-bottom: 40px;
    }
    &-aboutUser {
      min-height: 250px;
      border-color: $borderColor !important;
    }
  }
  &__boughtGoods,
  &__reviews {
    margin-top: 80px;
  }
  &__exitBtn {
    width: 40%;
  }
}
