.authorization {
  margin-top: 20px;
  &__forgotPassword {
    font-size: 15px;
    display: block;
    margin-left: 76%;
    &:hover {
      text-decoration: none;
    }
  }
}

@media (min-width: 991px) and (max-width: 1200px){
  .authorization{
    .btn{
      &:nth-child(2){
        padding: 3px 5px;
      }
    }
  }
};
