.authorization {
  margin-top: 20px;
  &__forgotPassword {
    font-size: 15px;
    text-align: right;
    padding-right: 15px;
    &:hover {
      text-decoration: none;
    }
  }
}

@media (max-width: 575px) {
  .authorization{
   &__forgotPassword {
     font-size: 12px;
   }
  }
}
