.authorization {
  margin-top: 20px;
  &__forgotPassword {
    font-size: 15px;
    display: block;
    display: block;
    text-align: right;
    padding-right: 15px;
    &:hover {
      text-decoration: none;
    }
  }
}
