@import "./variables.scss";

button,
.btn {
  display: inline-block;
  font-weight: 400;
  color: $textColor2;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: $mainColor;
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 0.375rem 0.75rem;
  font-size: inherit;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    box-shadow: 0 0 0 0.2rem $btnShodow;
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem $btnShodow;
  }
}

.slideBtn {
  border: 2px solid $textColor2;
  background-color: transparent;
  padding: 15px 25px;
  &:hover {
    box-shadow: none;
  }
}
