.cartItem {
  margin-top: 20px;
  margin: 20px;
  &__img{
    max-width: 100px;
  }
  &__info {
    max-width: 770px;
  }
  &__copies {
    max-width: 100px;
  }
  &__price{
    max-width: 150px;
  }
}

@media (max-width: 1920px){
  .cartItem{
    &__info{
      min-width: 700px;
    }
  }
}

@media (max-width: 1200px){
  .cartItem{
    &__info{
      min-width: auto;
    }
  }
}
