.fileUploader {
  min-height: 100px;
  // padding: 20px 5px;
  input {
    display: none;
  }
  button {
    padding: 0;
    max-width: 250px;
    .fa-upload{
      margin-left: 15px;
    }
  }
  &__dndText{
    text-align: center;
  }
}
