.fileUploader {
  height: 100%;
  padding: 20px 5px;
  input {
    display: none;
  }
  button {
    padding: 10px;
    width: 40%;
    .fa-upload{
      margin-left: 15px;
    }
  }
  &__dndText{
    text-align: center;
  }
}
