.fileUploader {
  max-height: 100px;
  padding: 20px 5px;
  input {
    display: none;
  }
  button {
    position: relative;
    .fa-upload{
      margin-left: 15px;
    }
  }
  &__dndText{
    text-align: center;
  }
}
