@import "./variables.scss";
@import "./mixins.scss";

.footer {
  background: $footerBg;
  margin-top: 10px;
  height: 50px;
  .upArrow {
    position: fixed;
    bottom: 3%;
    left: 2%;
    .fa-chevron-up {
      color: $headerBg;
      padding: 1px 8px 5px 8px;
      border-radius: 100%;
    }
  }
  .fas {
    font-size: 60px;
    opacity: 0;
    transition: all 0.5s;
    &_active {
      opacity: 1;
      cursor: pointer;
    }
  }
  .feedback {
    position: fixed;
    bottom: 3%;
    right: 2%;
    width: 135px;
    height: 135px;
    .mainIcon {
      position: absolute;
      bottom: 0;
      right: 0;
      .fa-phone {
        @include feedbackIconsStyle(60px, 15px);
      }
    }
    .helperIcon {
      .fa-instagram,
      .fa-vk,
      .fa-facebook {
        max-width: 40px;
        max-height: 40px;
      }
    }
    .helperIcon1 {
      position: absolute;
      top: 23%;
      right: 0;
      opacity: 0;
      transition: all ease-in-out 0.5s;
      .fa-instagram {
        @include feedbackIconsStyle(43px, 7px);
      }
    }
    .helperIcon2 {
      position: absolute;
      top: 50%;
      left: 37%;
      transform: translateY(-50%);
      opacity: 0;
      transition: all ease-in-out 0.5s;
      .fa-vk {
        @include feedbackIconsStyle(43px, 8px);
      }
    }
    .helperIcon3 {
      position: absolute;
      bottom: 0;
      left: 23%;
      opacity: 0;
      transition: all ease-in-out 0.5s;
      .fa-facebook {
        @include feedbackIconsStyle(43px, 7px);
      }
    }
    .helperIcon_active {
      opacity: 1;
      cursor: pointer;
      &:nth-child(2) {
        top: 10%;
      }
      &:nth-child(3) {
        top: 35%;
        left: 25%;
      }
      &:nth-child(4) {
        left: 10%;
      }
    }
    .fab_active {
      cursor: pointer;
    }
  }
}
