@import "./main.scss";

.header {
  position: relative;
  width: 100%;
  height: 100px;
  &__top {
    position: absolute;
    top: 0;
    left: 22.5%;
    width: 55%;
    height: 55px;
    background-color: $headerBg;
    padding: 3px 2px;
    ul {
      height: 100%;
      margin: 0;
      padding: 0;
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 2%;
        left: 50%;
        transform: translateX(-50%);
        background-image: linear-gradient(to right, $textColor 75%, transparent 50%);
        width: 98%;
        height: 2px;
        background-repeat: repeat-x;
        background-size: 30px 2px;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 2%;
        left: 50%;
        transform: translateX(-50%);
        background-image: linear-gradient(to right, $textColor 75%, transparent 50%);
        width: 98%;
        height: 2px;
        background-repeat: repeat-x;
        background-size: 30px 2px;
      }
    }
    a {
      text-decoration: none;
      color: $textColor;
      cursor: pointer;
      transition: 0.5s all;
      &:hover {
        color: $colorLink;
        text-decoration: none;
      }
    }
  }
  &__left,
  &__right {
    position: absolute;
    width: 22.5%;
    top: 15px;
    background-color: $headerBg;
    height: 55px;
    padding: 5px 2px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 10%;
      left: 2%;
      background-image: linear-gradient(to right, $textColor 75%, transparent 50%);
      width: 95%;
      height: 2px;
      background-repeat: repeat-x;
      background-size: 30px 2px;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 10%;
      left: 2%;
      background-image: linear-gradient(to right, $textColor 75%, transparent 50%);
      width: 95%;
      height: 2px;
      background-repeat: repeat-x;
      background-size: 30px 2px;
    }
  }
  &__left {
    left: 0;
    border-radius: 0 0 15px 0;
  }
  &__right {
    right: 0;
    border-radius: 0 0 0 15px;
  }
  &__item {
    list-style-type: none;
    color: $textColor;
    font-size: 25px;
  }
}
