@import "./variables.scss";
@import "./flexWraps.scss";
@import "./formControls.scss";
@import "./buttons.scss";
@import "./modal.scss";
@import "./password.scss";

body {
  color: $textColor;
  cursor: default;
}

img {
  pointer-events: none;
  width: 100%;
}

input {
  cursor: text;
  user-select: auto;
  border-radius: 15px;
  outline: none;
  padding: 2px 10px;
}

p {
  margin: 0;
}

.readMore {
  cursor: pointer;
  margin-left: 10px;
  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.content {
  background-color: $textColor2;
  padding-top: 70px;
  padding-bottom: 20px;
  min-height: 100vh;
}

.userAvatar {
  width: 152px;
  height: 152px;
  overflow: hidden;
  border-radius: 50%;
  img {
    width: auto;
    height: 100%;
    margin: 0 auto;
  }
}

.hidenElem {
  display: none;
}

:disabled {
  color: red;
}
