@import "./variables.scss";

.updateImg {
  span {
    display: flex;
    position: absolute;
    align-items: center;
    right: 1%;
    top: 0;
    font-size: 40px;
    height: 40px;
    cursor: pointer;
  }
  &__preview {
    img {
      max-width: 100%;
      min-width: 70%;
      max-height: 580px;
      box-shadow: 20px 10px 30px rgba(0,0,0,0.5);
    }
  }
}
