$textColor: #000000;
$mainColor: #c54444;
$btnShodow: #ff000059;
$footerBg: #c4c4c4;
$textColor2: #ffffff;
$hidenFormBg: #000000b3;
$warning: #dc3545;
$starsColor: #ffc800;
$starsColorHover: #fbdf7799;
$extraColor: #c5c5c5;
$additionalTextColor: #0000009e;
$blurBg: #ffffffba;
