$colorLink: orange;
$headerBg: red;
$textColor: #000000;
$mainColor: #C54444;
$btnShodow: #ff000059;
$footerBg: #C4C4C4;
$textColor2: #FFFFFF;
$hidenFormBg: #000000b3;
$warning: #dc3545;
$starsColor: #ffc800;
$extraColor: #c5c5c5;